<div class="footer">
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p>
                    ©
                    {{wds("copyright")}}
                    , &nbsp;
                    2074
                </p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul">
                    <li><a href="{{ baseUrl }}/download/usermanual.pdf" target="_blank">{{wds("User Manual")}}</a></li>
                   
                    <li><a	href="javascript:changePassword();">{{wds("Change Password")}}</a></li>
                    <li> <span style="color:#f7d000">eMail : <a href="mailto:sutra.support@fcgo.gov.np" style="color:#f7d000 !important;" >sutra.support@fcgo.gov.np</a></span></li>
                        
                    <!-- <li><a href="#">Report Problem</a></li>-->

                    
                </ul>
            </div>
        </div>
    </div>
</div>
