/* You can add global styles to this file, and also import other style files */
.mic {
    width: 16px;
    height: 16px;
}

.single1 .mic {

    width: 32px;
    height: 32px;
}

.submenu-inner-container {
    display: flex !important;
}

.custom-drop {

    margin-top: -36px !important;
}

.hide {
    display: none !important;
}

.show {
    display: inline !important;
}

.red-required{
    color: red;
    margin-top: 10px;
}

.x-panel-mc{
    color: #15428b;
    margin-left: 20px !important;
}
.x-form-text,.x-form-field{
    width: 202px !important;
}

.x-form-item-label{
    overflow: hidden;
}
.datagrid-view{
    height: calc(67vh) !important;
}
.datagrid-view{
    background-color: #ECF2F9;
}
.l-btn-text{
    position: relative !important;
top: -5px !important;
font-size: 11px !important;
}
.easyui-linkbutton{
    height: 24px !important;
}